@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #fff5f2;
	--color-primary-100: #fff1ee;
	--color-primary-200: #ffe4de;
	--color-primary-300: #ffd5cc;
	--color-primary-400: #ffbcad;
	--color-primary-500: #fe795d;
	--color-primary-600: #ef562f;
	--color-primary-700: #eb4f27;
	--color-primary-800: #cc4522;
	--color-primary-900: #a5371b;
}

@source "../node_modules/flowbite-svelte/dist";

html {
	scroll-behavior: smooth;
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSlideOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.5;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(80px);
    }
}

.image-hidden {
    animation: fadeSlideOut 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.image-visible {
    animation: fadeSlideIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.timeline-hidden {
    opacity: 0;
    transform: translateY(40px) scale(0.98);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.timeline-visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.fade-hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-visible {
    opacity: 1;
    transform: translateY(0);
}
